body
	+no-margin-padding
	background: $jam-station-color-bg
input, label, body
	color: $jam-station-color-text
	font-family: $jam-station-font-text

.left
	float: left
.right
	float: right
.clear
	clear: both
