
@mixin editor($x, $y)
	position: absolute
	left: $x
	top: $y
	display: inline-block
	//background: linear-gradient(-30deg, rgba(255,255,255,0.9) 0%,rgba(243,243,243,0.9) 50%,rgba(237,237,237,0.9) 51%,rgba(255,255,255,0.9) 100%)
	background: #e0e0e0
	box-shadow: 0px 0px 5px #777
	.header
		cursor: pointer
		margin: 0px
		height: 38px
		line-height: 34px
		border-bottom: 1px solid #aaa
		background: #eaeaea
		> *
			margin: 7px 4px
			padding: 0px 4px
			height: 24px
			line-height: 24px
			font-size: 16px
			display: inline-block
			float: left
		input, button
			outline: none
			text-align: center
			border: 0px solid #333
			background: inherit
		input
			box-shadow: inset 0px 0px 5px rgba(33, 77, 55, 0.5)
			color: #333
			// text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5)
			border-radius: 4px
			// background: #cff5da
			background: #dfe
		button
			width: 30px
			text-align: center
			padding: 0px
			cursor: pointer
			transition: box-shadow .5s, text-shadow .5s
			outline: none
			border-radius: 4px
			&.on
				box-shadow: inset 0px 0px 5px rgba(33, 77, 55, 0.5)
				background: #dfe
			&:hover
				text-shadow: 0px 0px 7px rgba(127, 127, 127, 0.5)
				outline: none
			&:active, &:focus, &::-moz-focus-inner
				outline: none
				border-image: none
				border: 0px
	.body
		margin: 0px
		padding: 0px
		border-top: 1px solid #eee
		fieldset
			padding: 10px
			border: 0px solid #aaa
			margin: 10px 0px
			border-top-width: 1px
			legend
				font-weight: bold
				padding: 0px 5px
