
@mixin editor($x, $y)
	position: absolute
	left: $x
	top: $y
	display: inline-block
	//background: linear-gradient(-30deg, rgba(255,255,255,0.9) 0%,rgba(243,243,243,0.9) 50%,rgba(237,237,237,0.9) 51%,rgba(255,255,255,0.9) 100%)
	background: #e0e0e0
	box-shadow: 0px 0px 3px #777
	.header
		cursor: pointer
		margin: 0px
		height: 38px
		line-height: 34px
		border-bottom: 1px solid #aaa
		background: #eaeaea
		> *
			margin: 7px 4px
			padding: 0px 4px
			height: 24px
			line-height: 24px
			font-size: 14px
			display: inline-block
			float: left
		input, button
			outline: none
			text-align: center
			border: 0px solid #333
			background: inherit
		input
			box-shadow: inset 0px 0px 5px rgba(33, 77, 55, 0.5)
			color: #333
			// text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5)
			border-radius: 4px
			// background: #cff5da
			background: #dfe
			&[type=number]
				-moz-appearance: textfield
				-webkit-appearance: textfield
				appearance: textfield
				position: relative
				width: 58px
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button
					-webkit-appearance: none
					margin: 0
		.cipher
			position: relative
			input
				float: left
			input, button
				height: 24px
				line-height: 24px
				box-sizing: border-box
			button
				position: absolute
				opacity: 0.1
				z-index: 99
			.left, .right
				float: none
			.left
				left: 0px
			.right
				right: 0px
			button:hover
				opacity: 0.7

		button
			width: 30px
			text-align: center
			padding: 0px
			cursor: pointer
			transition: box-shadow .5s, text-shadow .5s
			outline: none
			border-radius: 4px
			&.on
				box-shadow: inset 0px 0px 5px rgba(33, 77, 55, 0.5)
				background: #dfe
			&:hover
				text-shadow: 0px 0px 7px rgba(127, 127, 127, 0.5)
				outline: none
			&:active, &:focus, &::-moz-focus-inner
				outline: none
				border-image: none
				border: 0px
	.body
		margin: 0px
		padding: 0px 0px 10px 0px
		border-top: 1px solid #eee
		font-size: 14px
		fieldset
			position: relative
			padding: 0px 10px
			border: 0px solid #aaa
			border-top-width: 1px
			.on-switch
				position: absolute
				top: 0px
				right: 8px
				height: 32px
				line-height: 32px
				width: 16px
				cursor: pointer
				outline: none
				background: #e0e0e0
				color: #aaa
				text-align: center
				transition: color .3s, text-shadow .3s
				&.on
					color: #dfe
					font-size: 12px
					text-shadow: 0px 0px 1px rgba(33, 33, 33, 0.7)
			div
				margin: 0px 0px 10px 0px
			legend
				font-weight: bold
				font-size: 14px
				line-height: 32px
				height: 32px
				padding: 0px 5px
				> :not(:last-child)::after
					content: ''
					border-top: 1px solid #999
					display: inline-block
					height: 1px
					width: 7px
					margin: 0px 3px
					margin-top: -2px
					vertical-align: middle
				span
					color: #999
					height: 16px
					line-height: 16px
					&.on
						color: #333
