@mixin no-margin-padding
	margin: 0px
	padding: 0px

=reset
	margin: 0px
	padding: 0px
	display: inline-block
	box-sizing: border-box


=header-height($h)
	+reset
	height: $h
	line-height: $h

@mixin modal($w, $h)
	display: block
	position: absolute
	left: 50%
	margin-left: -$w/2
	width: $w
	top: 50%
	height: $h
	margin-top: -$h/2

@mixin clear-form-control
	+no-margin-padding
	border: 0px
	outline: none
	border-radius: 0px
	border-image: none
	box-sizing: border-box
	background: inherit
	&:focus,
	&:active,
	&::-moz-focus-inner,
	&:-moz-focusring,
	&::-moz-focus-outer
		border: 0
		outline: none



// media queries
=phone
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px})
		@content
=not-phone
	@media (min-width: #{$tablet-width})
		@content

=tablet
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
		@content

=desktop
	@media (min-width: #{$desktop-width})
		@content
=not-desktop
	@media (max-width: #{$desktop-width - 1px})
		@content
