doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Jam Station
		link(rel="stylesheet", href="sass/style.sass")
	body!= content || '<section id="ui"></section>'
		script(src="js/index.js", type="module")
