
$jam-st-header-height: 38px

#ui > header
	+user-select(none)
	+no-margin-padding
	+header-height($jam-st-header-height)
	display: block
	// background: #e6efe7
	background: #ccc
	margin-bottom: 20px
	box-shadow: 0px 0px 3px #777
	> *
		+no-margin-padding
		+header-height($jam-st-header-height)
	ul.center
		+header-height($jam-st-header-height)
		font-size: 18px
		position: absolute
		top: 0px
		left: 50%
		transform: translate(-50%, 0)
		text-align: center
		// margin: 5px 0px 5px 0px
		background: #eaeaea
		padding: 0px
		box-sizing: border-box
		border: 1px solid #aaa
		border-width: 0px 1px
		li
			margin: 0px 7px
			> *
				font-size: 16px
				margin: 0px 3px
				float: left
		img
			height: $jam-st-header-height
			vertical-align: top
		input
			+header-height($jam-st-header-height)
			text-align: center
			outline: none
			border: 0px
			background: inherit
			transition: background .3s
			&:focus
				background: #ddd
	ul
		+no-margin-padding
		+header-height($jam-st-header-height)
		+user-select(none)
		display: inline-block
		list-style: none
		box-sizing: border-box
		padding: 0px 5px
		&.right
			float: none
			position: absolute
			top: 0px
			right: 0px
		li
			+no-margin-padding
			+header-height($jam-st-header-height)
			box-sizing: border-box
			display: inline-block
			float: left
			a
				+no-margin-padding
				+header-height($jam-st-header-height)
				width: $jam-st-header-height
				box-sizing: content-box
				display: inline-block
				text-align: center
				float: left
				color: #777
				cursor: pointer
				font-size: 12px
				i.fa
					+header-height($jam-st-header-height)
					font-size: 16px
				&:hover
					color: #333
					background: #c5c5c5
				&.on
					box-shadow: inset 1px 1px 15px rgba(100, 100, 100, 0.3)
			input[type=range]
				+no-margin-padding
				+header-height(26px)
				display: inline-block
				vertical-align: middle
				-webkit-appearance: none
				background-color: #777
				outline: none
				border-radius: 10px
				height: 2px
				width: 80px
				cursor: pointer
			input[type=range]::-webkit-slider-thumb
				-webkit-appearance: none
				background-color: #bbb
				border: 1px solid #777
				width: 12px
				height: 12px
				border-radius: 10px
				transition: .3s
				&:hover
					background: $jam-station-color-light
