
$jam-st-header-height: 38px

#ui > header
	user-select: none
	+no-margin-padding
	+header-height($jam-st-header-height)
	display: block
	// background: #e6efe7
	background: $jam-st-header-bg
	margin-bottom: 20px
	box-shadow: 0px 0px 3px #777
	> *
		+no-margin-padding
		+header-height($jam-st-header-height)
	ul.center
		+header-height($jam-st-header-height)
		font-size: 18px
		position: absolute
		top: 0px
		left: 50%
		width: 380px
		margin-left: -190px
		text-align: center
		// margin: 5px 0px 5px 0px
		background: $jam-st-header-fg
		padding: 0px
		box-sizing: border-box
		border: 1px solid #999
		border-width: 0px 1px
		li
			margin: 0px 7px
			> *
				font-size: 16px
				margin: 0px 3px
				float: left
		img
			height: $jam-st-header-height
			vertical-align: top
		button
			+header-height($jam-st-header-height - 8)
			width: $jam-st-header-height - 10
			margin: 4px 3px
			outline: none
			cursor: pointer
			text-align: center
			border: 0px solid #333
			background: inherit
			border-radius: 2px
			transition: box-shadow .5s, text-shadow .5s, background .5s
			&.on
				box-shadow: inset 0px 0px 1px rgba(33, 77, 55, 0.7)
				background: $jam-station-color-light
			&:hover
				text-shadow: 0px 0px 7px rgba(127, 127, 127, 0.1)
				outline: none
			&:active, &:focus, &::-moz-focus-inner
				outline: none
				border-image: none
				border: 0px
		input
			+header-height($jam-st-header-height)
			text-align: center
			outline: none
			border: 0px
			background: inherit
			transition: background .3s
			&:focus
				background: #ddd
	ul
		+no-margin-padding
		+header-height($jam-st-header-height)
		user-select: none
		display: inline-block
		list-style: none
		box-sizing: border-box
		padding: 0px 5px
		&.right
			float: none
			position: absolute
			top: 0px
			right: 0px
		li
			+no-margin-padding
			+header-height($jam-st-header-height)
			box-sizing: border-box
			display: inline-block
			float: left
			a
				+no-margin-padding
				+header-height($jam-st-header-height)
				width: $jam-st-header-height
				box-sizing: content-box
				display: inline-block
				text-align: center
				float: left
				color: #777
				cursor: pointer
				font-size: 12px
				img
					line-height: $jam-st-header-height
					max-height: $jam-st-header-height
					max-width: $jam-st-header-height
					opacity: 0.4
					vertical-align: text-bottom
				i.fa
					+header-height($jam-st-header-height)
					font-size: 16px
				&:hover
					color: #333
					background: #e5e5e5
					img
						opacity: 0.6
				&.on
					box-shadow: inset 1px 1px 15px rgba(100, 100, 100, 0.2)
					img
						opacity: 0.6
			input[type=range]
				+no-margin-padding
				+header-height(26px)
				display: inline-block
				vertical-align: middle
				-webkit-appearance: none
				background-color: #777
				outline: none
				border-radius: 10px
				height: 2px
				width: 80px
				cursor: pointer
			input[type=range]::-webkit-slider-thumb
				-webkit-appearance: none
				background-color: #bbb
				border: 1px solid #777
				width: 12px
				height: 12px
				border-radius: 10px
				transition: .3s
				&:hover
					background: $jam-station-color-light
