
#ui
	position: absolute
	top: 0px
	bottom: 0px
	left: 0px
	right: 0px
	height: 100%
	#layout
		position: absolute
		top: 38px
		bottom: 0px
		left: 0px
		right: 0px
		height: 100%
		overflow-x: scroll
