.instrument
	+editor(240px, 50px)
	min-width: 250px
	.body
		padding: 10px
		form
			+no-margin-padding
			fieldset
				padding: 10px
			input
				+no-margin-padding
				margin: 10px 0px
				display: block
				width: 100%
