.instrument
	+editor(240px, 60px)
	min-width: 230px
	.body
		form
			+no-margin-padding
			label, input[type=radio]
				cursor: pointer
			div
				margin: 0px 0px 10px 0px
			input[type=range]
				+no-margin-padding
				margin: 10px 0px
				display: block
				width: 100%
				-webkit-appearance: none
				background-color: #777
				outline: none
				border-radius: 10px
				height: 2px
				cursor: pointer
			input[type=range]::-webkit-slider-thumb
				-webkit-appearance: none
				background-color: #bbb
				border: 1px solid #777
				width: 7px
				height: 20px
				transition: .3s
				&:hover
					background: $jam-station-color-light
