.media-library
	position: absolute
	left: 0px
	top: 0px
	bottom: 0px
	display: block
	background: #bbb
	min-width: 240px
	overflow-y: scroll
	.body
		overflow-y: visible
		fieldset
			border: 0px
			padding: 0px
			margin: 0px
			legend
				+header-height(28px)
				padding: 0px 7px
				background: #aaa
				width: 100%
				box-sizing: border-box
				border-top: 1px solid #999
				border-bottom: 1px solid #999
		ul
			list-style: none
			padding: 0px 5px
			margin: 0px
			li
				position: relative
				margin: 0px -5px
				ul
					display: none
					border-bottom: 0px
				> input[type=checkbox]
					display: none
					&:checked
						& + label > i:before
							content: ''
						& ~ ul
							display: block
				> label
					padding: 0px 5px
					line-height: 24px
					font-size: 12px
					display: block
					background: #bbb
					transition: background .3s, box-shadow .3s
					cursor: pointer
					&:hover
						background: #bdc
						box-shadow: inset 0px 0px 7px #ccc
					i
						width: 14px
						margin-left: 5px
				button
					+no-margin-padding
					padding: 0px 5px
					+header-height(24px)
					position: absolute
					top: 0px
					right: 0px
					border: 0px
					background: none
					color: #aaa
					font-size: 12px
					cursor: pointer
					outline: none
					transition: color .3s
					&:active
						outline: none
					&:hover
						color: #333
