.media-library
	+editor(20px, 60px)
	min-width: 300px
	.body
		ul
			+no-margin-padding
			list-style: none
			border-top: 1px solid #bbb
			border-bottom: 1px solid #bbb
			margin: 0px -10px
			li
				+header-height(24px)
				font-size: 14px
				display: block
				padding: 0px 10px
				background: #eaeaea
				transition: background .7s, box-shadow .7s
				cursor: pointer
				&:not(:first-child)
					border-top: 1px solid #ccc
				&:hover
					background: #dfe
					box-shadow: inset 0px 0px 7px #ccc
				button
					+no-margin-padding
					padding: 0px
					+header-height(24px)
					border: 0px
					background: none
					color: #aaa
					font-size: 12px
					cursor: pointer
					outline: none
					transition: color .3s
					&:active
						outline: none
					&:hover
						color: #333
