
.midi-map
	+editor(1080px, 0px)
	bottom: 0px
	.body
		.devices
			dl
				+reset
				display: block
				width: 100%
				border: 1px solid rgba(0,0,0,0)
				vertical-align: top
				dt
					+reset
					width: 100%
					text-align: center
					background: #aaa
					font-weight: bold
				dd
					+reset
					width: 100%
					ul
						+reset
						width: 100%
						list-style: none
						li
							+reset
							width: 100%
		table
			width: 100%
