
.sequencer
	+editor(560px, 0px)
	.body
		padding-top: 4px
		.head
			margin: 2px
			padding: 0px
			padding-left: 114px
			height: 12px
			line-height: 12px
		.cell
			display: inline-block
			margin: 3px
			height: 6px
			line-height: 6px
			width: 16px
			padding: 0px
			border-radius: 4px
			border: 0px solid #333
			box-shadow: inset 0px 0px 5px rgba(33, 33, 33, 0.3)
			&.tick
				background: #dfe
		.row
			padding: 0px
			height: 34px
			line-height: 34px
			clear: both
			> .bar
				+no-margin-padding
				+header-height(30px)
				margin: 2px
				box-shadow: inset 0px 0px 1px #777, inset 0px -1px 1px 1px #ccc
				display: inline-block
				cursor: pointer
				background: #dfdfdf
				transition: box-shadow .3s, font-size .3s, background .3s
				box-sizing: border-box
				float: left
			.delete-channel
				height: 26px
				line-height: 26px
				margin: 3px
				margin-right: -23px
				padding: 0px
				display: inline-block
				cursor: pointer
				color: #aaa
				&:hover
					color: #c77
			.channel
				+user-select(none)
				+header-height(30px)
				margin: 2px
				padding: 0px 7px
				display: inline-block
				font-size: 12px
				width: 140px
				float: left
				cursor: pointer
				background: #dfdfdf
				box-sizing: border-box
				box-shadow: inset 0px 0px 1px #777, inset 0px -1px 1px 1px #ccc
				transition: background .3s, box-shadow .3s
				&:hover
					// background: #eafaf5
					background: $jam-station-color-light
				&.on
					background: $jam-station-color-light
				&:active
					background: $jam-station-color-light
					padding-top: 2px
					line-height: 28px
			.add-channel
				+header-height(30px)
				margin: 1px
				border: 1px solid #bbb
				padding: 0px 7px
				width: 140px
				text-align: center
				transition: background .3s, box-shadow .3s
				cursor: pointer
				background: #ddd
				display: inline-block
				&:hover
					background: $jam-station-color-light
					box-shadow: inset 0px 0px 10px #ccc
				&:active
					box-shadow: inset 0px 0px 10px #ccc
					line-height: 24px
					padding-top: 2px
			.bar
				width: 20px
				&:hover, &.tick
					+header-height(32px)
					width: 22px
					margin: 1px
				&:nth-child(2n-1)
					background: #e5e5e5
				&.on
					background: #c5cfd5
					box-shadow: inset 0px 0px 1px #777, inset 0px -1px 1px 1px #b5bfb5
				&.tick
					background: #dfe
