
.sequencer
	+editor(560px, 50px)
	.body
		.head
			margin: 2px
			padding: 0px
			padding-left: 106px
			height: 12px
			line-height: 12px
			.cell
				display: inline-block
				margin: 3px
				height: 6px
				line-height: 6px
				width: 16px
				padding: 0px
				border-radius: 4px
				border: 0px solid #333
				box-shadow: inset 0px 0px 5px rgba(33, 33, 33, 0.3)
				&.tick
					background: #dfe
		.row
			margin: 2px
			padding: 0px
			height: 32px
			line-height: 32px
			> *
				height: 26px
				line-height: 26px
				margin: 3px
				padding: 0px
				border-radius: 4px
				border: 0px solid #333
				box-shadow: inset 0px 0px 5px rgba(33, 33, 33, 0.3)
				display: inline-block
				cursor: pointer
				background: #fafafa
				transition: box-shadow .3s, font-size .3s, background .3s
				box-sizing: border-box
				float: left
				&:hover
					box-shadow: inset 0px 0px 7px rgba(33, 33, 33, 0.5)
					margin: 2px
					height: 28px
					line-height: 28px
			.instr
				font-size: 14px
				width: 100px
				text-align: center
				&:hover
					width: 102px
			.bar
				width: 16px
				&:hover
					width: 18px
				&:nth-child(2n-1)
					background: #f5f5f5
				&.on
					background: #c0cacf
				&.tick
					background: #dfe
